# __Tutorial of Python__

Python is a programming language. Nowadays, Python is a very popular programming language. It is not the latest programming language; it came into being in 1989, and Java came into being in 1995. So, you can imagine how old this programming language is. This programming language is used in most fields, such as Data Analytics, Data Science, A.I., Data Engineer, and many more.

# What is jupyter Notebook

* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that integrate live code, equations, computational output, visualizations, and other multimedia resources.
* Uses includes data cleaning and transformation, numericals, simulation, statistical modeling, data visualization,machine learning, and much more.

   Jupyter Notebook is an open-source web application that allows to interect with python.

# Advantage:-

* interactive
* Result/outputs are stored so it is easy to review
* Friendly to Documentation
* No Limitation from performance
* Helpful Shortcuts
* Industry standard for all Data Science, ML, AI projects.

Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter)

# Short Cuts

[shift] + [enter] : run a cell
Command Mode :
* esc and a : Insert cell Above
* esc and b : insert cell below
* esc and dd : delete a cell
* esc and z : undo a delete cell
* esc and r : convert cell to raw cell
* esc and m : convert cell to markdown cell
* esc and y : convert cell to code cell
* esc and c : copy a cell
* esc and v : paste a cell
* esc and x : cut a cell

# Edit Mode:
Ctrl + C : copy a text

Ctrl + V : Paste

Ctrl + X : Cut

Ctrl + Z : undo

# Keywords

In [298]:
import keyword

In [299]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [300]:
len(keyword.kwlist)

35

# Identifiers

* An Identifier is the name given to entities like functions, variables etc.
* it helps in differentiating one entity from other.

# Note

identifier cannot be initaite with digit.

Identifier cannot use special symbols.

Keywords cannot be used as identifier.

In [301]:
str1=50 #assigning string with 50
str1

50

In [302]:
"correct way of defining a identifier"

# Identifiers can be a combination of letters in lowercase (a to z) or uppercase and only special character allowed is _,


# _ is for using null value"

var=2

# "var is entity called as variable has been created and assignde with value of 2"

# comments:-

* comments can be used to explain the code for more readability.

In [303]:
#this is a single line comment

# Statments

In [304]:
# when you write a single line code that is called single line statment.
p2 = "Hello everyone how are you"
p2

'Hello everyone how are you'

In [305]:
p1 = "Hey how are you ?"
p1

'Hey how are you ?'

In [306]:
# if you call both variable one after another pythen execute the line to line code and gives output of last code only.
p1
p2

'Hello everyone how are you'

In [307]:
# python overrwrites the execution of code and give last output if not usiing print function

In [308]:
print(p1)
p2

Hey how are you ?

'Hello everyone how are you'

In [309]:
print("hi world")

hi world

In [310]:
print ("hello everyone")
"Hello all"

hello everyone

'Hello all'

# Variables

* A python variable is a reserved memory location to store values.
* Avariable is created the moment you first assign a value to it.

In [311]:
"Hello everyone"

'Hello everyone'

In [312]:
a="hello everyone"

In [313]:
a

'hello everyone'

In [314]:
k=30 #variable creation

In [315]:
k #calling of variable

30

# Variable assignment

In [316]:
intvar=10 #integer variable
floatvar=2.57 #Float variable
strvar="Python Language" #string variable
intvar
floatvar
strvar

'Python Language'

# Multiple Assignment

In [317]:
intvar,floatvar,strvar = 10,2.57,"Python Language"
# using commas to seporate the variable and assigned values
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [318]:
print(intvar, floatvar, strvar)

10 2.57 Python Language

# Data Types

Numaric

In [319]:
a=30

In [320]:
a

30

In [321]:
type(a)

int

In [322]:
a=25.5

In [323]:
a

25.5

In [324]:
type(a)

float

In [325]:
import sys

In [326]:
sys.getsizeof(a) #size of float object in byte

24

In [327]:
x=100
y=55.7

In [328]:
print(x)
print(y)
print(type(x))
print(type(y))
print(sys.getsizeof(x))
print(sys.getsizeof(y))

100
55.7
<class 'int'>
<class 'float'>
28
24

In [329]:
# complex data type
val3=25+10j # Complex data type

In [330]:
type(val3)

complex

In [331]:
print(sys.getsizeof(val3))

32

In [332]:
val2 = 92.78 #float data type

In [333]:
print(val2)
print(type(val2)) #type of object
print(sys.getsizeof(val2)) #size of float in byte
print(val2, "is int?" , isinstance(val2, int)) # val2 is an instance of float

92.78
<class 'float'>
24
92.78 is int? False

# Boolean
* Boolean data type can have only two possible output True or false
* it converts any data in two possible answers True and False

In [334]:
bool1=True
type(bool1)

bool

In [335]:
bool2=False
type(bool2)

bool

In [336]:
type(10)

int

In [337]:
bool(10) #anything apart from 0 is True

True

In [338]:
bool(0) # 0 gives output False

False

# String :- String Creation

In [339]:
str1 = "Hello python"
print(str1)

Hello python

In [340]:
type(str1)

str

In [341]:
a='45' # when any assigned value is given in '' or "" it is treated as character/string character
print(a)
print(type(a))

45
<class 'str'>

In [342]:
print(sys.getsizeof(a)) #sys.getsizeof(any variable) gives size used to store any variable
print(isinstance(a, str)) # isinstsnce is used to check the type of any variable using boolean format

43
True

# Strint Indexing

In [343]:
str1 ='HELLO PYTHON'
str1

'HELLO PYTHON'

In [344]:
str1[6] # taking output of any single character using its position in the given, ex. p is positioned at 6

'P'

In [345]:
str1[4]

'O'

In [346]:
str1[11] #counting from front starting with 0

'N'

In [347]:
str1[-11] #counting from backwords starting with -1

'E'

# String Slicing

In [348]:
str1='HELLO PYTHON'
str1

'HELLO PYTHON'

In [349]:
str1[0:4] #str1[starting point : Ending point: Steps]

'HELL'

In [350]:
str1[6:12]

'PYTHON'

In [351]:
str1[0:4:2]

'HL'

In [352]:
print(str1[6:12:2]) # it gives the output of characters with starting point and ending point with skipping the steps 
                    # and gives the 2nd positioned number in this example 
print(str1[6:12:3]) # giving 3rd positioned number

PTO
PH

In [353]:
print(str1[0:4], str1[6:12], str1[-1:-6:-2], sep='\n') #sep='\n' is used to have every output in new line

HELL
PYTHON
NHY

In [354]:
str1[-1:-6:-2] #if using negative/decending order we have to apply negative sign to all

'NHY'

In [355]:
str3='Data is a new fuel'

In [356]:
print(str3[0:4], str3[5:7], str3[8:10],str3[10:13], str3[14:], sep='\n') #counting [starting with 0:starting with zero and the position + 1]

Data
is
a
new
fuel

In [357]:
str3[::-1] #whole data is reversed

'leuf wen a si ataD'

In [358]:
str3.split() #spliting every word defult based on space

['Data', 'is', 'a', 'new', 'fuel']

In [359]:
" ".join(str3.split()[::-1]) #using join function jointed the string together

'fuel new a is Data'

In [360]:
str4="Hey I'm a Future Data Scientist. What About You"

In [361]:
str4[::-1]

"uoY tuobA tahW .tsitneicS ataD erutuF a m'I yeH"

In [362]:
str4.split()[::-1]

['You', 'About', 'What', 'Scientist.', 'Data', 'Future', 'a', "I'm", 'Hey']

In [363]:
" ".join(str4.split()[::-1]) # have to put space in between "" to have space in the sentance between every word

"You About What Scientist. Data Future a I'm Hey"

# Update and Delete string
* strings are immutable which means elements of a string cannot be changed once they are assigned with any values

In [364]:
str1='Hello Python'

In [365]:
str1

'Hello Python'

In [366]:
str1[:5] ="Hey" #we cannot replace the string with another string

TypeError: 'str' object does not support item assignment

In [367]:
str2= str1.replace("Hello","Hey") #string.replace('Character to replace', 'by what value the character should be replaced')

In [368]:
str1

'Hello Python'

In [369]:
str2

'Hey Python'

In [370]:
del str1 #Delete a string

In [371]:
str1 #error accures as the str1 is deleted using del function

NameError: name 'str1' is not defined

# Data

In [372]:
s1= "Data"
s2= "is"
s3= "new"
s4= "Fuel"

In [373]:
s1+" "+s2+" "+s3+" "+s4

'Data is new Fuel'

# String Membership

In [374]:
str2="Data is new feul"

In [375]:
str2

'Data is new feul'

In [376]:
"The" in str2

False

In [377]:
"Data" in str2 #substring in str2

True

In [378]:
"data" in str2

False

# String Function

In [379]:
mystr2= " Hello Everyone "

In [380]:
mystr2.count("E") #used to count character of string

1

In [381]:
mystr2.strip() #used to remove white space of string

'Hello Everyone'

In [382]:
mystr2.rstrip() # it is used to remove white space from right/end side

' Hello Everyone'

In [383]:
mystr2.lstrip() # it is used to remove white space from left/beginning side

'Hello Everyone '

In [384]:
mystr2='HELLO PYTHON'

In [385]:
mystr2.lower() #to have string in lower case

'hello python'

In [386]:
mystr3='hello python'

In [387]:
mystr3.upper() #to convert string in upper case

'HELLO PYTHON'

In [388]:
mystr3.capitalize() # to have first letter capital and rest in lowe case

'Hello python'

In [389]:
mystr3='hello python '

In [390]:
mystr3.startswith("hello") #to check starting characters

True

In [391]:
mystr3.endswith("n ") # to check the ending characters

True